body{
    background: bisque;
}

h1{
    margin-top:0;
    font-size:18;
}
.fl{
    float:left;
}

.fr{
    float:right;
}


.clearfix:after,
.clearfix:before{
    content:" ";
    clear:both;
    display: table;
}

.navbar{
    background: #a10;
}

a {
    font-color
}


.navbar .brand{
    font-size: 20px;
    margin-top:0;
}

.navbar form{
    display: inline-block;
}

.navbar-item{
    display:inline-block;
    line-height:2;
    padding:2px 4px;
}

.navbar-item:first-child{
    margin-left:4px;
}

.navbar-item:last-child{
    margin-right: 4px;
}

.navbar .brand{
    font-size:20px;
    padding-top:0;
    line-height:1;
    font-weight:600;
}

.container{
    width:600px;
    margin-left:auto;
    margin-right:auto;
}

.container.signup,
.container.question-add,
.container.login,
.container.resetpassword{
    width:400px;

}

[ui-sref]{
    cursor:pointer;
}

form,
label{
    display:block;
}

label{
    margin:4px 0;
}

.input-error-set{
    color:#ac2925;
}

.card{
    display:block;
    padding:10px 6px;
    border-radius:4px;
    background:#ffffff;
    box-shadow:0 1px 2px 1px rgba(0,0,0,1);
}

input,
textarea
{
    width:100%;
    border:1px solid lavender;
}

.input-group{
    margin-bottom: 4px;
}

button[disabled]
{
    background:#e3e3e3;
}

#quick_ask{
    :30
}