

h1{
    margin-top:0;
    font-size:18;
}
.fl{
    float:left;
}

.fr{
    float:right;
}


.clearfix:after,
.clearfix:before{
    content:" ";
    clear:both;
    display: table;
}

.navbar{
    background: #a10;
}

a {
    color:#fff;
}

.navbar form{
    display: inline-block;
}

.navbar .brand{
    font-size: 20px;
    margin-top:0;
}

.navbar-item{
    display:inline-block;
    line-height:2;
    padding:2px 4px;
}

.navbar-item:first-child{
    margin-left:4px;
}

.navbar-item:last-child{
    margin-right: 4px;
}

.navbar .brand{
    font-size:20px;
    padding-top:0;
    line-height:1;
    font-weight:600;
}

.container{
    width:600px;
    margin-left:auto;
    margin-right:auto;
    background:rgba(0,0,0,.1);
}

.container.signup,
.container.home,
.container.login,
.container.question_add_container,
.container.resetpassword{
    width:400px;
}

.container.home{
    background:#fff ;
}

.hr{
    display: block;
    width: 90%;
    height:1px;
    background: #eee;

}

[ui-sref]{
    cursor:pointer;
}

.home h1{
    font-size:16;
    color:#666;
}

form,
label{
    display:block;
}

label{
    margin:4px 0;
}

.input-error-set{
    color:#ac2925;
}

input,
textarea{
    display:block;
    width:100%;
    border:1px solid rgba(0,0,0,.1);
    border-radius:3px;
    outline:none;
}

.card{
    display:block;
    padding:10px 6px;
    border-radius:4px;
    background:#ffffff;
    box-shadow:0 1px 2px 1px rgba(0,0,0,1);
}

input{
    width:100%;
    border:1px solid lavender;
}

.input-group{
    margin-bottom: 4px;
}

button{
    border:1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    font-size: 14px;
    line-height: 1.2;
}

button.primary,
#quick_ask button{
    background:#a10;
    color:#fff;
    border:1px solid rgba(0,0,0,0.2);

}

button[disabled]
{
    background:#e3e3e3;
}

#quick_ask{
}